.nav-header {
    display: flex;
    /* height: 100px; */
    width: 100vw;
    height: 55px;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    color: white;
    padding-top: 20px;
    background-color: #051c3c;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   a{
       color: white;
       text-decoration: none;
   }
}