
.transfer{
    padding: 20px;
    input{
        height: 30px;
        font-size: 20px;
        color: white;
        border: 0;
        background: #0a0a0ab3;
        cursor: pointer;
    }
    button{
    border: 0;
    height: 30px;
    font-size: 20px;
    color: white;
    background: #c7485c;
    cursor: pointer;
        }
}
